<%= form_with(model: encode, local: true) do |form| %>
  <% if encode.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(encode.errors.count, "error") %> prohibited this encode from being saved:</h2>

      <ul>
        <% encode.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field is-horizontal">
    <div class="field-label is-normal">
      <%= form.label :title, class: "label" %>
    </div>
    <div class="field-body">
      <%= form.text_field :title, class: "input", placeholder: "Title" %>
    </div>
  </div>

  <div class="field is-horizontal">
    <div class="field-label is-normal">
      <%= form.label :file, class: "label" %>
    </div>
    <div class="field-body">
      <%= form.file_field :file, class: "input", placeholder: "Title", direct_upload: true %>
    </div>
  </div>

  <div class="field is-horizontal">
    <div class="field-label">
      <!-- Left empty for spacing -->
    </div>
    <div class="field-body">
        <%= form.submit class: "button is-primary" %>
    </div>
  </div>

<% end %>
