<%= form_with(model: encode, local: true) do |form| %>
  <% if encode.errors.any? %>
    <div class="notification is-danger">
      <strong><%= pluralize(encode.errors.count, "error") %> prohibited this encode from being saved:</strong>
    </div>
  <% end %>

  <div class="field is-horizontal">
    <div class="field-label is-normal">
      <%= form.label :title, class: "label" %>
    </div>
    <div class="field-body">
      <div class="field">
        <div class="control">
        <%= form.text_field :title, class: encode.errors[:title].size > 0 ? "input is-danger": "input" , placeholder: "Title" %>
        </div>
        <% encode.errors[:title].each do |message| %>
        <p class="help is-danger">
          <%= message %>
        </p>
        <% end %>
      </div>
    </div>
  </div>

  <div class="field is-horizontal">
    <div class="field-label is-normal">
      <%= form.label :callback_id, class: "label" %>
    </div>
    <div class="field-body">
      <div class="field">
        <div class="control">
        <%= form.text_field :callback_id, class: "input" , placeholder: "Callback ID" %>
        </div>
        <% encode.errors[:callback_id].each do |message| %>
        <p class="help is-danger">
          <%= message %>
        </p>
        <% end %>
      </div>
    </div>
  </div>

  <div class="field is-horizontal">
    <div class="field-label">
      <%= form.label :file, class: "label" %>
    </div>
    <div class="field-body">
      <% if form.object.file.attached? %>
        <span class="direct-upload__filename"><%= form.object.file.filename %></span>
        <%= form.hidden_field :file, value: form.object.file.signed_id %>
      <% else %>
        <div class="field">
          <div class="control">
            <%= form.file_field :file, direct_upload: true, class: encode.errors[:file].size > 0 ? "input is-danger": "input", accept: Encode::VALIDATED_FILE_EXTENSIONS.join(',') %>
          </div>
          <% encode.errors[:file].each do |message| %>
            <p class="help is-danger">
              <%= message %>
            </p>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>

  <div class="field is-horizontal">
    <div class="field-label">
      <div class="label" id="file-upload-percentage">0%</div>
    </div>
    <div class="field-body">
      <progress class="progress is-success" value="0" max="100" id="file-upload-progress">100%</progress>
    </div>
  </div>

  <div class="field is-horizontal">
    <div class="field-label">
    </div>
    <div class="field-body">
      <div id="direct-upload-error"></div>
    </div>
  </div>

  <div class="field is-horizontal">
    <div class="field-label">
      <!-- Left empty for spacing -->
    </div>
    <div class="field-body">
        <%= form.submit class: "button is-primary" %>
    </div>
  </div>

<% end %>
