<%= form_with(model: encode, local: true) do |form| %>
  <% if encode.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(encode.errors.count, "error") %> prohibited this encode from being saved:</h2>

      <ul>
        <% encode.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field is-horizontal">
    <div class="field-label is-normal">
      <%= form.label :title, class: "label" %>
    </div>
    <div class="field-body">
      <%= form.text_field :title, class: "input", placeholder: "Title" %>
    </div>
  </div>

  <div class="field is-horizontal">
    <div class="field-label">
      <%= form.label :file, class: "label" %>
    </div>
    <div class="field-body">
      <% if form.object.file.attached? %>
        <span class="direct-upload__filename"><%= form.object.file.filename %></span>
        <%= form.hidden_field :file, value: form.object.file.signed_id %>
      <% else %>
        <%= form.file_field :file, direct_upload: true, class: 'input', accept: Encode::VALIDATED_FILE_EXTENSIONS.join(',') %>
      <% end %>
    </div>
  </div>

  <div class="field is-horizontal">
    <div class="field-label">
      <div class="label" id="file-upload-percentage">0%</div>
    </div>
    <div class="field-body">
      <progress class="progress is-success" value="0" max="100" id="file-upload-progress">100%</progress>
    </div>
  </div>

  <div class="field is-horizontal">
    <div class="field-label">
    </div>
    <div class="field-body">
      <div id="direct-upload-error"></div>
    </div>
  </div>

  <div class="field is-horizontal">
    <div class="field-label">
      <!-- Left empty for spacing -->
    </div>
    <div class="field-body">
        <%= form.submit class: "button is-primary" %>
    </div>
  </div>

<% end %>
