<div class="modal">
  <div class="modal-background"></div>
  <div class="modal-content" id="modal-content"></div>
  <button class="modal-close is-large" aria-label="close"></button>
</div>
<nav class="breadcrumb" aria-label="breadcrumbs">
  <ul>
    <li><a href="../"><%= EncodesController.controller_name %></a></li>
    <li class="is-active"><a href="#" aria-current="page">List</a></li>
  </ul>
</nav>
<div class="table-container">
  <table class="table is-bordered is-striped is-narrow is-hoverable is-fullwidth" id="encodes">
    <thead>
    <tr>
      <th>ID</th>
      <th>Title</th>
      <th>File name</th>
      <th>Runtime</th>
      <th>Url</th>
      <th>Created at</th>
      <th>Completed</th>
      <th>Thumbnail</th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <% @encodes.each do |encode| %>
      <tr id="encode_id" data-encode-id="<%= encode.id %>">
        <th><%= encode.id %></th>
        <td><%= encode.title %></td>
        <td><%= encode.file.filename if encode.file.attached? %></td>
        <td><%= encode.runtime %></td>
        <td><%= encode.url %></td>
        <td id="created-at"><%= encode.created_at %></td>
        <td id="status_<%= encode.id %>"><%= encode.completed %></td>
        <td>
          <% if encode.thumbnails.first %>
          <figure class="image is-16by9">
            <%= image_tag url_for(encode.thumbnails.first) %>
          </figure>
          <% end %>
        </td>
        <td>
          <%= fa_icon_link_to(id: nil, link_url: encode, icon_name: "newspaper", class_name: "button is-link", text: "Show", data: nil ) %>
          <%= fa_icon_link_to(id: "open-play-modal", link_url: "#", icon_name: "play", class_name: "button is-primary", text: "Play", data: { :video => encode.url, :poster => url_for(encode.thumbnails.first) } ) if encode.completed %>
          <%= fa_icon_link_to(id: "open-thumbnail-modal", link_url: "#", icon_name: "images", class_name: "button is-info", text: "Thumbnail", data: { thumbnails: encode.assets } ) if encode.completed %>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>
<%= paginate @encodes %>
<%= fa_icon_link_to(id: nil, link_url: new_encode_path, icon_name: "plus", class_name: "button is-primary", text: "New Encode", data: nil ) %>