<h1>hello</h1>
<p id="notice"><%= notice %></p>
<table class="table is-bordered is-striped is-narrow is-hoverable is-fullwidth">
  <thead>
  <tr>
    <th>ID</th>
    <th>Title</th>
    <th>Created at</th>
    <th>Runtime</th>
    <th>Completed</th>
    <th>Url</th>
    <th colspan="3"></th>
  </tr>
  </thead>
  <tbody>
  <% @encodes.each do |encode| %>
    <tr>
      <th><%= encode.id %></th>
      <td><%= encode.title %></td>
      <td><%= encode.created_at %></td>
      <td><%= encode.runtime %></td>
      <td><%= encode.completed %></td>
      <td><%= encode.url %></td>
      <td><%= link_to 'Show', encode %></td>
      <td><%= link_to 'Edit', edit_encode_path(encode) %></td>
      <td><%= link_to 'Destroy', encode, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
  </tbody>
</table>
<%= paginate @encodes %>

