<h1>hello</h1>
<p id="notice"><%= notice %></p>
<table class="table is-bordered is-striped is-narrow is-hoverable is-fullwidth">
  <thead>
  <tr>
    <th>ID</th>
    <th>Log</th>
    <th>Started at</th>
    <th>Ended at</th>
    <th>Runtime</th>
    <th>Completed</th>
    <th>User</th>
    <th>Published</th>
    <th>File</th>
    <th colspan="3"></th>
  </tr>
  </thead>
  <tbody>
  <% @encodes.each do |encode| %>
    <tr>
      <th><%= encode.id %></th>
      <td><%= encode.log %></td>
      <td><%= encode.started_at %></td>
      <td><%= encode.ended_at %></td>
      <td><%= encode.runtime %></td>
      <td><%= encode.completed %></td>
      <td><%= encode.user_id %></td>
      <td><%= encode.published %></td>
      <td><%= url_for(encode.file) if encode.file.attached? %></td>
      <td><%= link_to 'Show', encode %></td>
      <td><%= link_to 'Edit', edit_encode_path(encode) %></td>
      <td><%= link_to 'Destroy', encode, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
  </tbody>
</table>
<br>
<%= link_to 'New Encode', new_encode_path %>
