<h1 class="title">Encode > List > <%= @encode.title %></h1>
<input type="hidden" value="<%= @encode.id %>" id="encode_id"/>
<div class="columns">
  <div class="column is-fullwidth">
    <div class="card events-card">
      <header class="card-header">
        <p class="card-header-title">
          Encode Infomation
        </p>
      </header>
      <div class="card-table">
        <div class="content">
          <table class="table is-fullwidth is-striped is-hoverable">
            <tbody>
            <tr>
              <td>Runtime</td>
              <td id="runtime"><%= @encode.runtime %></td>
            </tr>
            <tr>
              <td>Title</td>
              <td><%= @encode.title %></td>
            </tr>
            <tr>
              <td>Callback ID</td>
              <td><%= @encode.callback_id %></td>
            </tr>
            <tr>
              <td>File name</td>
              <td><%= @encode.file.filename if @encode.file.attached? %></td>
            </tr>
            <tr>
              <td>Onwer Email</td>
              <td><%= @encode.user.email %></td>
            </tr>
            <tr>
              <td>Encode Started at</td>
              <td><%= @encode.started_at %></td>
            </tr>
            <tr>
              <td>Encode Ended at</td>
              <td id="ended_at"><%= @encode.ended_at %></td>
            </tr>
            <tr>
              <td>Video</td>
              <td id="url"><%= @encode.url %></td>
            </tr>

            <tr>
              <td>Thumbnail</td>
              <td id="thumbnail">
                <% @encode.assets.each { |t| %>
                  <% if t.format == 'image' %>
                    <%= t.url %><br/>
                  <% end %>
                <% } %>
                </td>
            </tr>

            <tr>
              <td>Completed</td>
              <td id="completed"><%= @encode.completed %></td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="columns">
  <div class="column is-fullwidth">
    <div class="card events-card">
      <header class="card-header">
        <p class="card-header-title">
          Progress
        </p>
      </header>
      <div class="card-table">
        <div class="content">
          <table class="table is-fullwidth">
            <tbody>
            <tr>
              <td width="30px" id="percentage"><%= @encode.completed ? '100' : '0' %>%</td>
              <td><progress class="progress is-link" value="<%= @encode.completed ? '100' : '0' %>" max="100" id="progress">100%</progress></td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="columns">
  <div class="column is-fullwidth">
    <div class="card events-card">
      <header class="card-header">
        <p class="card-header-title">
          Logs
        </p>
      </header>
      <div class="card-table">
        <div class="content pic-container" id="log_container">
          <table class="table is-fullwidth is-striped" id="logs">
            <tbody>
              <% unless @encode.log.nil?
                  arr = @encode.log.split("\n")
                  arr.each { |a|  text="<tr><td>"+a+"</td></tr>"%> <%= text.html_safe %><% }
                 end
              %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="columns">
  <div class="column is-fullwidth">
    <div class="card events-card">
      <header class="card-header">
        <p class="card-header-title">
          Thumbnail
        </p>
      </header>
      <div class="card-table">
        <div class="content" id="thumbnail-container">
          <% @encode.thumbnails.each { |t| %>
            <%= image_tag url_for(t) %>
          <% } %>
        </div>
      </div>
    </div>
  </div>
</div>


