<h1 class="title">Encode > List > <%= @encode.title %></h1>
<p id="notice"><%= notice %></p>
<input type="hidden" id="encodeid" value="<%= @encode.id %>" data-encode-id="<%= @encode.id %>"/>
<p>
  <h1 class="title">Title:</h1>
  <h2 class="subtitle"><%= @encode.title %></h2>
</p>
<p>
  <h1 class="title">Started at:</h1>
  <h2 class="subtitle"><%= @encode.started_at %></h2>
</p>
<p>
  <h1 class="title">Ended at:</h1>
  <h2 class="subtitle" id="ended_at"><%= @encode.ended_at %></h2>
</p>
<p>
  <h1 class="title">Runtime:</h1>
  <h2 class="subtitle" id="runtime"><%= @encode.runtime %></h2>
</p>
<p>
  <h1 class="title">User:</h1>
  <h2 class="subtitle"><%= @encode.user.email %></h2>
</p>
<p>
  <h1 class="title">Published:</h1>
  <h2 class="subtitle"><%= @encode.published %></h2>
</p>
<p>
  <h1 class="title">Url:</h1>
  <h2 class="subtitle" id="url"><%= @encode.url %></h2>
</p>
<p>
  <h1 class="title">Log:</h1>
  <h2 class="subtitle">
    <%= simple_format(@encode.log) %>
    <p id="messages"></p>
  </h2>
</p>
<p>
  <h1 class="title">Completed:</h1>
  <h2 class="subtitle" id="completed"><%= @encode.completed %></h2>
  <progress class="progress is-link" value="<%= @encode.completed ? '100' : '0' %>" max="100" id="progress">100%</progress>
</p>
<input type="hidden" value="<%= @encode.id %>" id="encode_id"/>
<p>
</p>