<h1 class="title">Encode > List > <%= @encode.title %></h1>
<p id="notice"><%= notice %></p>
<p>
  <h1 class="title">Title:</h1>
  <h2 class="subtitle"><%= @encode.title %></h2>
</p>
<p>
  <h1 class="title">Log:</h1>
  <h2 class="subtitle"><%= simple_format(@encode.log) %></h2>
</p>
<p>
  <h1 class="title">Started at:</h1>
  <h2 class="subtitle"><%= @encode.started_at %></h2>
</p>
<p>
  <h1 class="title">Ended at:</h1>
  <h2 class="subtitle"><%= @encode.ended_at %></h2>
</p>
<p>
  <h1 class="title">Runtime:</h1>
  <h2 class="subtitle"><%= @encode.runtime %></h2>
</p>
<p>
  <h1 class="title">Completed:</h1>
  <h2 class="subtitle"><%= @encode.completed %></h2>
</p>
<p>
  <h1 class="title">User:</h1>
  <h2 class="subtitle"><%= @encode.user.email %></h2>
</p>
<p>
  <h1 class="title">Published:</h1>
  <h2 class="subtitle"><%= @encode.published %></h2>
</p>
<p>
  <h1 class="title">Url:</h1>
  <h2 class="subtitle"><%= @encode.url %></h2>
</p>
