<h1 class="title">Edit <%= resource_name.to_s.humanize %></h1>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :email, class:"label" %>
    <%= f.email_field :email, class:"input", autofocus: true, autocomplete: "email" %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="field">
    <%= f.label :password, class:"label" %> <i>(leave blank if you don't want to change it)</i>
    <%= f.password_field :password, class:"input", autocomplete: "new-password" %>
    <% if @minimum_password_length %>
      <br />
      <em><%= @minimum_password_length %> characters minimum</em>
    <% end %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation, class:"label" %>
    <%= f.password_field :password_confirmation, class:"input", autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :current_password, class:"label" %> <i>(we need your current password to confirm your changes)</i>
    <%= f.password_field :current_password, class:"input", autocomplete: "current-password" %>
  </div>

  <div class="field">
    <%= f.submit "Update", class: "button is-primary" %>
  </div>
<% end %>

<br/>
