<%= form_with(model: webhook, local: true) do |form| %>
  <% if webhook.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(webhook.errors.count, "error") %> prohibited this webhook from being saved:</h2>

      <ul>
        <% webhook.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :url %>
    <%= form.text_field :url %>
  </div>

  <div class="field">
    <%= form.label :api_key %>
    <%= form.text_field :api_key %>
  </div>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.number_field :user_id %>
  </div>

  <div class="field">
    <%= form.label :method %>
    <%= form.text_field :method %>
  </div>

  <div class="field">
    <%= form.label :is_active %>
    <%= form.check_box :is_active %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
