<h1 class="title">Webhooks > List</h1>
<div class="table-container">
  <table class="table is-bordered is-striped is-narrow is-hoverable is-fullwidth">
    <thead>
      <tr>
        <th>Url</th>
        <th>Api key</th>
        <th>User</th>
        <th>Method</th>
        <th>Is active</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @webhooks.each do |webhook| %>
        <tr>
          <td><%= webhook.url %></td>
          <td><%= webhook.api_key %></td>
          <td><%= webhook.user_id %></td>
          <td><%= webhook.method %></td>
          <td><%= webhook.is_active %></td>
          <td>
            <%= fa_icon_link_to(id: nil, link_url: webhook, icon_name: "newspaper", class_name: "button is-link", text: "Show", data: nil ) %>
            <%= fa_icon_link_to(id: nil, link_url: edit_webhook_path(webhook), icon_name: "edit", class_name: "button is-primary", text: "Edit", data: nil ) %>
            <%= fa_icon_link_to(id: nil, link_url: webhook, icon_name: "trash", class_name: "button is-danger", text: "Destroy", data: { confirm: 'Are you sure?' }, method: :delete ) %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<%= fa_icon_link_to(id: nil, link_url: new_webhook_path, icon_name: "plus", class_name: "button is-primary", text: "New Webhook", data: nil ) %>