<nav class="navbar has-background-grey-lighter">
  <div class="navbar-brand">
    <a class="navbar-item" href="<%= root_path %>">
      <img src="<%= image_url('CW_OVP_LOGO_200x200.png') %>" height="28"> CW-OVP
    </a>
    <div class="navbar-burger burger" data-target="navbarExampleTransparentExample">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>

  <div id="navbarExampleTransparentExample" class="navbar-menu">
    <div class="navbar-start">
      <%= link_to Encode.model_name, encodes_path, class: "navbar-item #{'is-active' if controller.controller_name == Encode.model_name.to_s.downcase+'s' }" %>
    </div>

    <div class="navbar-end">
      <% if user_signed_in? %>
        <%= link_to('Logout', destroy_user_session_path, method: :delete, class: "navbar-item") %>
        <%= link_to('Edit registration', edit_user_registration_path, class: "navbar-item") %>
      <% else %>
        <%= link_to('Login', new_user_session_path, class: "navbar-item") %>
        <%= link_to('Register', new_user_registration_path, class: "navbar-item") %>
      <% end %>
    </div>
  </div>
</nav>