<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="<%= root_path %>">
      <%
        web_logo_url = ENV['WEB_LOGO_URL'].blank? ? image_url('CW_OVP_LOGO_200x200.png') : ENV['WEB_LOGO_URL']
      %>
      <img src="<%= web_logo_url %>" height="28">
    </a>
    <a class="navbar-item" href="<%= root_path %>">
      <%= ENV['WEB_TITLE'] %>
    </a>

    <div class="navbar-burger burger" data-target="navbarExampleTransparentExample">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>

  <div id="navbarExampleTransparentExample" class="navbar-menu">
    <div class="navbar-start">
      <%= fa_icon_link_to(id: nil, link_url: encodes_path, icon_name: "photo-video", class_name: "navbar-item #{'is-active' if controller.controller_name == EncodesController.controller_name || current_page?(root_path)}", text: Encode.model_name ) %>
      <%= fa_icon_link_to(id: nil, link_url: webhooks_path, icon_name: "satellite-dish", class_name: "navbar-item #{'is-active' if controller.controller_name == WebhooksController.controller_name }", text: Webhook.model_name ) %>
      <%= fa_icon_link_to(id: nil, link_url: users_path, icon_name: "users", class_name: "navbar-item #{'is-active' if controller.controller_name == UsersController.controller_name }", text: User.model_name ) %>
    </div>
    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          <% if user_signed_in? %>
            <%= fa_icon_link_to(id: nil, link_url: sidekiq_web_path, icon_name: "database", class_name: "button is-danger", text: "Sidekiq", target: "_blank" ) %>
            <%= fa_icon_link_to(id: nil, link_url: destroy_user_session_path, icon_name: "sign-out-alt", class_name: "button is-primary", text: "Logout", method: :delete ) %>
            <%= fa_icon_link_to(id: nil, link_url: edit_user_registration_path, icon_name: "user-edit", class_name: "button is-light", text: "Edit registration" ) %>
          <% else %>
            <%= fa_icon_link_to(id: nil, link_url: new_user_session_path, icon_name: "sign-in-alt", class_name: "button is-primary", text: "Login" ) %>
            <%= fa_icon_link_to(id: nil, link_url: new_user_registration_path, icon_name: "user-plus", class_name: "button is-light", text: "Register" ) %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</nav>
