<aside class="column is-2">
  <nav class="menu">
    <p class="menu-label">
      <%= Encode.model_name %>
    </p>
    <ul class="menu-list">
      <li><%= link_to 'List', encodes_path, class: (current_page?(encodes_path) || current_page?(root_path)) ? 'is-active':'' %></li>
      <li>
        <ul>
          <li><%= link_to 'Show', '#', class: (params[:id].present? and current_page?(encode_path(params[:id]))) ? 'is-active':'' %></li>
        </ul>
      </li>
      <li><%= link_to 'New Encode', new_encode_path, class: (current_page?(new_encode_path)) ? 'is-active':'' %></li>
    </ul>
    <p class="menu-label">
      <%= Webhook.model_name %>
    </p>
    <ul class="menu-list">
      <li><%= link_to 'List', webhooks_path, class: (current_page?(webhooks_path)) ? 'is-active':'' %></li>
      <li>
        <ul>
          <li><%= link_to 'Show', '#', class: (params[:id].present? and current_page?(webhook_path(params[:id]))) ? 'is-active':'' %></li>
        </ul>
      </li>
      <li><%= link_to 'New Encode', new_webhook_path, class: (current_page?(new_webhook_path)) ? 'is-active':'' %></li>
    </ul>
  </nav>
</aside>