<!DOCTYPE html>
<html>
  <head>
    <title>CWEncoding</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      <%= render "layouts/header" %>
      <div class="columns">
        <%= render "layouts/menu" %>
        <main class="column main">
          <%= yield %>
        </main>
      </div>
    </div>
  </body>
</html>
