<!DOCTYPE html>
<html>
  <head>
    <title>CW-OVP</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
      <%= render "layouts/header" %>
      <div class="section">
        <div class="columns">
          <%= render "layouts/menu" %>
          <main class="column">
            <div class="level">
              <div class="level-left">
                <div class="level-item">
                  <div class="title">Dashboard</div>
                </div>
              </div>
              <div class="level-right">
                <div class="level-item">
                  <button type="button" class="button is-small">
                    March 8, 2017 - April 6, 2017
                  </button>
                </div>
              </div>
            </div>

            <div class="columns is-multiline">
              <div class="column is-fullwidth">
                <%= yield %>
              </div>
            </div>
          </main>
        </div>
      </div>

  </body>
</html>
