<!DOCTYPE html>
<html>
  <head>
    <title><%= ENV['WEB_TITLE'] %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>
      <%= render "layouts/header" %>
      <div class="section">
        <div class="columns">
          <main class="column">
            <div class="columns is-multiline">
              <div class="column is-fullwidth">
                <% if notice.present? %>
                <p class="notification">
                  <button class="delete"></button>
                  <%= notice %>
                </p>
                <% end %>
                <%= yield %>
              </div>
            </div>
          </main>
        </div>
      </div>

      <%= hidden_field_tag "controller_name", controller.controller_name %>
      <%= hidden_field_tag "action_name", controller.action_name %>
  </body>
</html>
