<!DOCTYPE html>
<html>
  <head>
    <title><%= ENV['WEB_TITLE'] %></title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= action_cable_meta_tag %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application' %>
  </head>

  <body>
      <header class="hero">
        <div class="hero-head">
          <%= render "layouts/header" %>
        </div>
      </header>
      <div class="section">
        <div class="columns">
          <div class="column">
            <%= render "layouts/notice" %>
          </div>
        </div>
        <div class="columns">
          <div class="column">
            <%= render "layouts/breadcrumb", controller_name: controller_name, action_name: controller.action_name.capitalize %>
          </div>
        </div>
        <% if notice.present? %>
        <div class="columns">
          <div class="column is-full">
            <p class="notification">
              <button class="delete"></button>
              <%= notice %>
            </p>
          </div>
        </div>
        <% end %>
        <div class="columns">
          <div class="column is-full">
            <%= yield %>
          </div>
        </div>
      </div>

      <%= hidden_field_tag "controller_name", controller.controller_name %>
      <%= hidden_field_tag "action_name", controller.action_name %>
  </body>
</html>
