<!DOCTYPE html>
<html>
  <head>
    <title>CW-OVP</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>
      <%= render "layouts/header" %>
      <div class="section">
        <div class="columns">
          <%= render "layouts/menu" %>
          <main class="column">
            <div class="columns is-multiline">
              <div class="column is-fullwidth">
                <%= yield %>
              </div>
            </div>
          </main>
        </div>
      </div>

  </body>
</html>
